$white: hsl(0, 0%, 96%);
$grey-50: hsl(204, 2%, 94%);
$grey-100: hsl(198, 6%, 84%);
$grey-200: hsl(200, 11%, 73%);
$grey-300: hsl(200, 17%, 62%);
$grey-400: hsl(200, 23%, 54%);
$grey-500: hsl(200, 31%, 46%);
$grey-600: hsl(199, 31%, 40%);
$grey-700: hsl(199, 31%, 33%);
$grey-800: hsl(200, 30%, 26%);
$grey-900: hsl(200, 32%, 18%);